javascript/images/
JS_study/server_side_javascript/node_modules/
JS_study/server_side_javascript/sessions/
JS_study/server_side_javascript2/node_modules/
JS_study/server_side_javascript2/sessions/
java/**/.metadata/
java/**/.sonarlint/