body{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: #34495e;
}

.box{
  background: #191919;
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.box input[type="text"], .box input[type="password"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid blue;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.25s;
}

.box input[type="submit"]{
  display: block;
  text-align: center;
  width: 150px;
  border: 2px solid green;
  background: none;
  color: white;
  border-radius: 25px;
  transition: 0.25s;
  outline: none;
  margin: 20px auto;
  padding: 14px 10px;
  cursor: pointer;
}

.box input[type="text"]:focus, .box input[type="password"]:focus{
  width: 300px;
  border-color: red;
}

.box input[type="submit"]:hover{
  background: green;
}